<div id="<%= dom_id payment %>">
  <div>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </div>

  <div>
    <strong>Exchanged at:</strong>
    <%= payment.exchanged_at %>
  </div>

  <div>
    <strong>Due date:</strong>
    <%= payment.due_date %>
  </div>

</div>
